
@model StronglyTypedModelView.Models.Product

<h2>Details of product</h2>
<dl>
    <dt>
        Product id
    </dt>
    <dd>
        @Model.Pid
    </dd>

    <dt>
        Product name
    </dt>
    <dd>
        @Model.Name
    </dd>

    <dt>
        Product Price
    </dt>
    <dd>
       @Model.Price
    </dd>
</dl>


